<h5>1 point (True or False)
<div>Most Armenians are Muslsim</div< 
  <div>
    <ul>
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">True</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">False</label><br/>
    </ul>
</div>



<h1>Quiz #<%= @quiz.id %></h1>






  <strong>Answer</strong>:<br />
  <p><%= @quiz.answer %></p>
</div>
<div>
  <strong>Score</strong>:<br />
  <p><%= @quiz.score_id %></p>
</div>

<a href="/quizzes/<%= @quiz.id %>/edit">Edit</a> |
<a href="/quizzes/<%= @quiz.id %>/destroy">Destroy</a>
