<h1>Editing Multiplechoice #<%= @multiplechoice.id %></h1>

<form action="/multiplechoices/<%= @multiplechoice.id %>/update">
  <div>
    <label for="answer">answer</label><br />
    <input id="answer" name="answer" value="<%= @multiplechoice.answer  %>" type="text" />
  </div>
  <div>
    <label for="content">content</label><br />
    <input id="content" name="content" value="<%= @multiplechoice.content  %>" type="text" />
  </div>
  <div>
    <label for="score">score</label><br />
    <input id="score" name="score" value="<%= @multiplechoice.score  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


